.canvascenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.controlscontainer {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.ctrlicon {
    padding: 5px;
}
